.footer{
    background-color: $Bandsite-black;
    padding: 2rem 4rem;
   
    &__main{
        display: flex;
        justify-content: space-between;
        

   }
  &__header{
    display: flex;
    justify-content: center;
  
  }
    &__heading{
        font-family: 'avenir-bold', sans-serif;
        font-size: 24px;
        color: white;
        padding: 1.0rem 0 1.5rem 0;

    }
    &__main-link{
        padding: 2rem 1rem 3rem 5rem;
        justify-content: space-between;
    }
    &__address{
        font-family: 'avenir-regular',sans-serif;
        font-size: small;
       display: flex;
       justify-content: left;
        color: white;
        @media screen and (max-width: 767px)  { 
            
            display: block;
            justify-content: center;
        
        
        }
       
    }
    &__address-first{
        padding: 0 0.5rem;
    }
    &__address-second{
        padding: 0 0.5rem;
    }
    &__address-third{
        padding: 0 0.5rem;
    }
    &__copyright{
        padding-top: 1rem;
        color: white;
    }
    &__address-name--desc{
        margin: 0;
    }
    &__address-street--desc{
        margin: 0;
    }
    &__address-name{
        margin-bottom: 2rem;
    }
    &__address-street{
        margin-bottom: 2rem;
        &--email{
            text-decoration: none;
            color: white;
        }
    }

}
