.nav{
    background-color: $Bandsite-black;
    &__container{
        display: flex;
        box-sizing: border-box;
        padding: 1rem 0rem 0rem 10rem;
        align-items: center;
        @media(min-width: 324px) and (max-width:767px){
            display: block;
            justify-content: center;
            padding: 2rem 0rem 0.3rem 0rem;
        }
    }
    &__logo-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__menu{
        display: flex;
        list-style-type: none;
        color: $White;
        font-family: 'avenir-regular';
        text-decoration: none;
        padding: 0rem 0rem 0rem 4rem;
        margin-block-end: 0;
        @media(min-width: 324px) and (max-width:767px){
            padding: 0rem 0rem 0rem 0rem;
            justify-content: space-around;
        }
        &-border{
            padding: 0rem;
            padding-right: 1rem;
            &--active{
                // text-decoration: underline;
                 border-bottom: 2px solid $White;
                 padding-bottom: 2rem;
             }
        }

        &-link1{
           
            text-decoration: none;
            color: $White;
           
        }
    }
    
}