    @import "./mixins";
    .comment {
      background-color: $White;
      margin: 0 11.25rem 0 11.25rem;
  
      &__title {
        font-family: avenir-bold;
        font-size: 2.125rem;
        font-weight: 700;
        margin: 3rem 0 3rem;
       
      }
  
      &__image {
        @include avatars
      }
  
      &__name-main {
        display: flex;
        justify-content: center;
      }
  
      &__input-box {
        display: flex;
        flex-direction: column;
        &--text {
          font-family: 'avenir-demi';
          color: $Silver;
           line-height: 1.25rem;
           margin: 0 0 0.25rem 0;
        }
      }
  
      &__textbox {
        padding: 1rem;
        border-radius: 0.25rem;
        font-family: avenir-regular;
        border: 1px solid $Mercury;
        background-color: $Alabaster;
        border-color: $Silver;
        resize: none;
        &:focus {
          border: 1px solid $Bandsite-black;
        }
        &--one {
          box-sizing: border-box;
          margin: 0 0 1rem 0;
          height: 3rem;
          padding: 1rem 1rem 0 1rem;
        }
        &--two {
          box-sizing: border-box;
          padding: 1rem 1rem 0 1rem;
          height: 1rem;
          margin: 0 0 1rem 0;
        }
      }
  
      &__button {
        align-self: flex-end;
        padding-left: 2rem;
        padding-right: 2rem;
        @include buttons
      }

      &__previous{
        &-comments{
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding: 1.5rem 12rem;
        }
        box-sizing: border-box;
        background-color: $Alabaster;
        border-bottom: 1px solid $Mercury;
        border-top: 1px solid $Mercury;

        display: flex;
        justify-content: center;
        &:hover {
          background-color: $Mercury;
        }

      }

      &__heading{
        display: flex;
        justify-content: space-between;
        &--date{
          color: $Silver;
        }
        &--name{
          font-family: 'avenir-demi';

        }
        &--main{
          padding-top: 1rem;
          font-family: 'avenir-regular';
          line-height: 1.25rem;

        }
        
      }
      &__avatar{
        &-box-img{
          @include avatars
          }
        }
    }
  
