
@mixin buttons {
        // padding-left: 2rem;
        // padding-right: 2rem;
        font-family: avenir-demi;
        background-color: $Bandsite-black;
        height: 2.5rem;
        border-radius: 0.25rem;
        color: $White;
        text-align: center;
        width: 9.375rem;
        margin: 1.5rem 0 1.5rem 0;
        &:hover {
          background-color: black;
        }
      }

@mixin avatars {
  width: 3rem;
  height: 2.95rem;
  border-radius: 3rem;
  object-fit: cover;
  margin: 1.9rem 1.25rem 1rem 3rem;
}

@mixin tab {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}   
