.shows{
    background-color: $White;
    display: flex;
    padding: 1.5rem 0 1.5rem 0;
    &__title{
        margin: 0;
    }
    &__title-box{
        padding: 0 5rem;
        font-family: 'avenir-demi';
        font-size: 2.25rem;
        color: $Bandsite-black;
       
    }
    &__heading-box{
        box-sizing: border-box;
        padding: 3rem 15rem 0 1rem;
        display: flex;
         justify-content: space-between;
        font-family: 'avenir-demi';
        color: $Silver;
        font-size: 0.75rem;
        &--location,&--venue,&--date{
            display: flex;
            justify-content: space-between;
        }
    }
    &__each-row{
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0 1rem;
        font-size: 0.75rem;
        border-bottom: 2px solid $Alabaster;
        &--location,&--venue,&--date{
            padding: 0 6rem 0 0rem ;
        }
            &:hover {
                background-color:$Silver;
            }
            &.show--selected{
                background-color: $Bandsite-black;
            }
     
        &--button{
            @include buttons
        }
        
    }
}